.box {
  height: 400px;
  width: 600px;
  background-color: black;
  margin: 0 auto;
}

li {
  list-style: circle;
  color: #fff;
  font-size: 30px;
  padding: 40px;
}
a {
  font-size: 24px;
  color: #fff;
}
.counter_main {
  display: flex;
  justify-content: center;
  gap: 10px;
}
h2 {
  height: 60px;
  width: 60px;
  background-color: black;
  text-align: center;
  line-height: 60px;
  font-size: 24px;
  color: #fff;
}

.count_down_main {
  display: flex;
  justify-content: space-around;
  gap: 10px;
}
p {
  height: 100px;
  width: 20%;
  background-color: black;
  text-align: center;
  line-height: 100px;
  font-size: 24px;
  color: #fff;
}
